.colorme {color:#8ea145;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #8ea145;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#8ea145;}
.flyout {border-top:2px solid #8ea145;}
.sectiontitle {border-left: 4px solid #8ea145;}
::-moz-selection{background:#8ea145;color:#fff;}
::selection{background:#8ea145;color:#fff;}
.ca-menu li:hover .ca-main {color: #8ea145;}
.topborder { border-top:4px solid #8ea145;}
.readmore {background:#8ea145;}
 #subheader {background: #8ea145;border-top: 1px solid #8ea145; color: #eee;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#8ea145;}
 #testimonials blockquote cite {color:#8ea145;}
 .tags {background:#333;}
 ul.pagination li.current a {background: #8ea145;}
.saymore {color:#8ea145;}
.submit {background:#8ea145;} 
dl.tabs dd.active { border-bottom: 3px solid #8ea145;}
ul.accordion > li.active {border-top: 3px solid #8ea145;}
div.alert-box.default { background-color: #8ea145;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #8ea145;}
.btn-slide {	background:#8ea145 url(../public/Images/../public/Images/images/plus.png) no-repeat;}
.btn-slide.active { background: #8ea145 url(../public/Images/../public/Images/images/minus.png) no-repeat;}
#footer {border-top:#8ea145 4px solid;}
.back-top a:hover{background-color: #8ea145;}
.sf-shadow ul {border-top:2px solid #8ea145;}
.panel {border-left:4px solid #8ea145;}
.colorbackground {background:#8EA145;}
a.projectdetail { background: #8EA145;opacity:0.8;}
a.projectdetail:hover { background: #8EA145;opacity:1.0;}
#testimonials {border-left: solid 6px #8EA145;}
.ei-title h2{background:#8EA145;} 
  