.nav-bar > li:hover, .nav-bar > li a:hover  { color:#9e7ead;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#9e7ead;}
.flyout {border-top:2px solid #9e7ead;}
.sectiontitle {border-left: 4px solid #9e7ead;}
::-moz-selection{background:#9e7ead;color:#fff;}
::selection{background:#9e7ead;color:#fff;}
.ca-menu li:hover .ca-main {color: #9e7ead;}
.topborder { border-top:4px solid #9e7ead;}
#subheader{background: #9e7ead;border-top: 1px solid #9e7ead; color: #fff;}
#subheader a {color: #fff;text-decoration: none;}
#subheader a:hover { text-decoration: none; color: #fff; }
 .readmore {background:#9e7ead;}
 #testimonials blockquote cite {color:#9e7ead;}
.tags {background:#333;}
ul.pagination li.current a {background: #9e7ead;}
.saymore {color:#9e7ead;}
.submit {background:#9e7ead;}
dl.tabs dd.active { border-top: 3px solid #9e7ead;}
ul.accordion > li.active {border-top: 3px solid #9e7ead;}
div.alert-box.default { background-color: #9e7ead;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #9e7ead;}
.btn-slide {	background:#9e7ead url(../public/Images/../public/Images/images/plus.png) no-repeat;}
.btn-slide.active { background: #9e7ead url(../public/Images/../public/Images/images/minus.png) no-repeat;}
#footer {border-top:#9e7ead 4px solid;}
.back-top a:hover{background-color: #666;}
.sf-shadow ul {border-top:2px solid #9e7ead;}
.panel {border-left:4px solid #9e7ead;}
.colorbackground {background:#9e7ead;}
#homesubheader {background:#222;}
a.projectdetail { background: #ccc;text-shadow:none;color:#111;}
a.projectdetail:hover { background: #ccc;text-shadow:none;color:#111;}
#testimonials {border-left: solid 6px #9e7ead;}
.ei-title h2{background:#9e7ead;}