.colorme {color:#da6f29;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #da6f29;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#da6f29;}
.flyout {border-top:2px solid #da6f29;}
.sectiontitle {border-left: 4px solid #da6f29;}
::-moz-selection{background:#da6f29;color:#fff;}
::selection{background:#da6f29;color:#fff;}
.ca-menu li:hover .ca-main {color: #da6f29;}
.topborder { border-top:4px solid #da6f29;}
.readmore {background:#da6f29;}
 #subheader {background: #da6f29;border-top: 1px solid #da6f29; color: #eee;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#da6f29;}
 #testimonials blockquote cite {color:#da6f29;}
 .tags {background:#333;}
 ul.pagination li.current a {background: #da6f29;}
.saymore {color:#da6f29;}
.submit {background:#da6f29;} 
dl.tabs dd.active { border-bottom: 3px solid #da6f29;}
ul.accordion > li.active {border-top: 3px solid #da6f29;}
div.alert-box.default { background-color: #da6f29;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #da6f29;}
.btn-slide {	background:#da6f29 url(../public/Images/../public/Images/images/plus.png) no-repeat;}
.btn-slide.active { background: #da6f29 url(../public/Images/../public/Images/images/minus.png) no-repeat;}
#footer {border-top:#da6f29 4px solid;}
.back-top a:hover{background-color: #da6f29;}
.sf-shadow ul {border-top:2px solid #da6f29;}
.panel {border-left:4px solid #da6f29;}
.colorbackground {background:#da6f29;}
a.projectdetail { background: #da6f29;opacity:0.8;}
a.projectdetail:hover { background: #da6f29;opacity:1.0;}
#testimonials {border-left: solid 6px #da6f29;}
.ei-title h2{background:#da6f29;} 