.colorme {color:#8a4466;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #8a4466;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#8a4466;}
.flyout {border-top:2px solid #8a4466;}
.sectiontitle {border-left: 4px solid #8a4466;}
::-moz-selection{background:#8a4466;color:#fff;}
::selection{background:#8a4466;color:#fff;}
.ca-menu li:hover .ca-main {color: #8a4466;}
.topborder { border-top:4px solid #8a4466;}
.readmore {background:#8a4466;}
 #subheader {background: #8a4466;border-top: 1px solid #8a4466; color: #fff;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#8a4466;}
 #testimonials blockquote cite {color:#8a4466;}
 .tags {background:#444;}
 ul.pagination li.current a {background: #8a4466;}
.saymore {color:#8a4466;}
.submit {background:#8a4466;} 
dl.tabs dd.active { border-bottom: 3px solid #8a4466;}
ul.accordion > li.active {border-top: 3px solid #8a4466;}
div.alert-box.default { background-color: #8a4466;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #8a4466;}
.btn-slide {	background:#8a4466 url(../public/Images/../public/Images/images/plus.png) no-repeat;}
.btn-slide.active { background: #8a4466 url(../public/Images/../public/Images/images/minus.png) no-repeat;}
#footer {border-top:#8a4466 4px solid;}
.back-top a:hover{background-color: #8a4466;}
.sf-shadow ul {border-top:2px solid #8a4466;}
.panel {border-left:4px solid #8a4466;}
.colorbackground {background:#8a4466;}
a.projectdetail { background: #8a4466;opacity:0.8;}
a.projectdetail:hover { background: #8a4466;opacity:1.0;}
#testimonials {border-left: solid 6px #8a4466;}
.ei-title h2{background:#8a4466;} 