.colorme {color:#f2615c;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #f2615c;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#f2615c;}
.flyout {border-top:2px solid #f2615c;}
.sectiontitle {border-left: 4px solid #f2615c;}
::-moz-selection{background:#f2615c;color:#fff;}
::selection{background:#f2615c;color:#fff;}
.ca-menu li:hover .ca-main {color: #f2615c;}
.topborder { border-top:4px solid #f2615c;}
.readmore {background:#f2615c;}
 #subheader {background: #f2615c;border-top: 1px solid #f2615c; color: #eee;}
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#f2615c;}
 #testimonials blockquote cite {color:#f2615c;}
 .tags {background:#333;}
 ul.pagination li.current a {background: #f2615c;}
.saymore {color:#f2615c;}
.submit {background:#f2615c;} 
dl.tabs dd.active { border-bottom: 3px solid #f2615c;}
ul.accordion > li.active {border-top: 3px solid #f2615c;}
div.alert-box.default { background-color: #f2615c;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #f2615c;}
.btn-slide {	background:#f2615c url(../public/Images/../public/Images/images/plus.png) no-repeat;}
.btn-slide.active { background: #f2615c url(../public/Images/../public/Images/images/minus.png) no-repeat;}
#footer {border-top:#f2615c 4px solid;}
.back-top a:hover{background-color: #f2615c;}
.sf-shadow ul {border-top:2px solid #f2615c;}
.panel {border-left:4px solid #f2615c;}
.colorbackground {background:#f2615c;}
a.projectdetail { background: #f2615c;opacity:0.8;}
a.projectdetail:hover { background: #f2615c;opacity:1.0;}
#testimonials {border-left: solid 6px #f2615c;}
.ei-title h2{background:#f2615c;}