.nav-bar > li:hover, .nav-bar > li a:hover  { color:#e0aa32;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#e0aa32;}
.flyout {border-top:2px solid #e0aa32;}
.sectiontitle {border-left: 4px solid #e0aa32;}
::-moz-selection{background:#e0aa32;color:#fff;}
::selection{background:#e0aa32;color:#fff;}
.ca-menu li:hover .ca-main {color: #e0aa32;}
.topborder { border-top:4px solid #e0aa32;}
#subheader{background: #e0aa32;border-top: 1px solid #e0aa32; color: #fff;}
#subheader a {color: #fff;text-decoration: none;}
#subheader a:hover { text-decoration: none; color: #fff; }
 .readmore {background:#e0aa32;}
 #testimonials blockquote cite {color:#e0aa32;}
.tags {background:#333;}
ul.pagination li.current a {background: #e0aa32;}
.saymore {color:#e0aa32;}
.submit {background:#e0aa32;}
dl.tabs dd.active { border-top: 3px solid #e0aa32;}
ul.accordion > li.active {border-top: 3px solid #e0aa32;}
div.alert-box.default { background-color: #e0aa32;}
.slide {	margin: 0;	padding: 0;	border-top: solid 4px #e0aa32;}
.btn-slide {	background:#e0aa32 url(../public/Images/../public/Images/images/plus.png) no-repeat;}
.btn-slide.active { background: #e0aa32 url(../public/Images/../public/Images/images/minus.png) no-repeat;}
#footer {border-top:#e0aa32 4px solid;}
.back-top a:hover{background-color: #666;}
.sf-shadow ul {border-top:2px solid #e0aa32;}
.panel {border-left:4px solid #e0aa32;}
.colorbackground {background:#e0aa32;}
#homesubheader {background:#222;}
a.projectdetail { background: #ccc;text-shadow:none;color:#111;}
a.projectdetail:hover { background: #ccc;text-shadow:none;color:#111;}
#testimonials {border-left: solid 6px #e0aa32;}
.ei-title h2{background:#e0aa32;}